* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}

body {
	background-color: #000000;
}

.container {
	background-color: #55dd6c;
	width: 75%;
	height: 100vh;
	margin: 0 auto;
	background: url('img/ground.jpeg') 0 0/ 100% 100% no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}






.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 50px;
	margin: 0px auto;
	padding: 20px 5px 5px 5px;
	color: rgb(118, 217, 245);
}

.header__title {
	display: flex;
	justify-content: center;
}

.header__title img {
	height: 50px;
}

h1 {
	margin: 5px 0 0 5px;
	text-transform: uppercase;
}




.header__level {
	display: flex;
	justify-content: start;
}

h2 {
	margin: 8px 10px 0 20px;
}

.header__level p {
	font-size: 24px;
	width: 45px;
	height: 45px;
	color: rgb(118, 217, 245);
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid #4e68ee;
	margin: 2px 0 0 0;
	padding: 5px 0 0 0;
	text-align: center;
}

.header__time {
	display: flex;
	justify-content: start;
	width: 60px;
	margin: 10px 20px 0 0;
}

.header__time p {
	font-size: 22px;
}







.wrapper {
	width: 100%;
	margin: 20px auto;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.style_card {
	padding: 20px;
	width: 120px;
	height: 80px;
	background-color: #4e0253;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s;
	font-size: 0;
	position: relative;
	z-index: 11;
}

.style_card:hover {
	background-color: #73aff0;
}

.style_card:active {
	background-color: #b91313;
}

.open {
	font-size: 28px;
	text-align: center;
	background-color: #4e68ee;
	cursor: default;
}

.open:hover {
	background-color: #4e68ee;
}

.win {
	font-size: 28px;
	text-align: center;
	background-color: #23ec6d;
	cursor: default;
}

.win:hover {
	background-color: #23ec6d;
}

.flag-img {
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.open-img {
	width: 110px;
	height: 70px;
}

















footer {
	width: 100%;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.block_link_git {
	width: 40px;
	height: 40px;
	margin: 5px 0 0 20px;
}

.block_link_git img {
	width: 40px;
	height: 40px;
}

.block_link_rss {
	width: 90px;
	height: 40px;
	margin: 5px 20px 0 0;
}

.block_link_rss img {
	width: 90px;
	height: 40px;
}

.yer {
	height: 50px;
}

.yer p {
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	padding: 10px 0 0 0;
} 